.panel-sgdc{
	text-align:center;
	padding:20px 10px;
}
.sgcd-logo{
	color:#02365b !important;
	font-weight:bold;
	font-size:30px;
}


#form-create-tender .contact-detail-field{ display: none;}
.upload-item{margin-bottom:10px;}
.thumbnail{margin-bottom:0px;text-align: center;}